[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
[Mm]emoryCaptures/

[Aa]ssets/AssetStoreTools*

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta

mono_crash.*

[Bb]uilds/

/ServerData

crashlytics-build.properties

[Ll]ightmap-*
[__MACOSX]

.DS_Store

/Packages/manifest.json
/Packages/packages-lock.json

.idea/
/*.iml
/*.ipr
/*.iws

/[Cc]ache/
